
@{
    ViewBag.Title = "ShowForm";
}

<h2>ShowForm</h2>

<p>提交给Index</p>
<form action="/Demo/Index" method="post">
    <input type="text" name="name"/>
    <button>提交</button>
</form>
<hr />

<p>提交给Login</p>
<form action="/Demo/Login" method="post">
    <p>Username</p><input type="text" name="name" /><br />
    <p>Password</p><input type="text" name="password" />
    <button>提交</button>
</form>
